<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fyp"
    android:installLocation="preferExternal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FYP"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MyRoomListings.myRoomDesc"
            android:exported="true" >


        </activity>
        <activity
            android:name=".MyRoomListings.MyListings"
            android:exported="true">


        </activity>
        <activity
            android:name=".RecyclerView.roomsDesc"
            android:exported="true" />
        <activity
            android:name=".Profiles.Profile"
            android:exported="true">

        </activity>
        <activity
            android:name=".Favourites"
            android:exported="true" />
        <activity
            android:name=".RecyclerView.HomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name=".AppSignIn.SignIn"
            android:exported="true">

        </activity>
        <activity
            android:name=".Splash"
            android:exported="true">




        </activity>
        <activity
            android:name=".AppLogin.MainActivity"
            android:exported="true">



        </activity>
        <activity
            android:name=".UserProfiles.profileForm"
            android:exported="true">

        </activity>

    </application>

</manifest>